doctype html
html
    head
      title some page title title
      block links
        // default style sheet
        links( href="css/style.css", rel="stylesheet", type="text/css")
    body
      h1 some heading
      block body_content

