// Basic tag example

div
h1
p
a
span
blockquote
header
main
aside
footer

// Self closing tag


img
br
meta
embed

// Nesting example

ul
  li
  li
  li

// Nesting example 2
div
  p
    span

// Nesting example 3
div: p: span
