// pipe

p
  | pipe must in separate line

p | pipe has no effect if it is on the same line as tag p

p
  | pipe let you break up long line
  | line 2
  | line 3
// complicated case
p
  | line 1
  br
  | line 2
  strong line3
  | line 4
// see video 2.2 6:27 on why you want to use above

