div.classname Text inside

div#idname content of element

#no-need-div content of div

.parent-div
  #child-div
    #grandchild-div

.class-1.class-2.class-3#id-1

#id-1.class-1.class-2.class-3
  | order does not matter



