extends ./base.jade

// block title
//   | page title

block more_links
    link( href='css/style_1.css', rel='stylesheet', type='text/css' )
    link( href='css/style_2.css', rel='stylesheet', type='text/css' )

block body_content
  h1 Some title
  section.someclass
    p.
      some paragraph


