doctype html
html
    head
      //- will use "Default title" if "block title" is not define in base
      title
        block title
          | Default title
      link( href='css/style.css', rel='stylesheet', type='text/css' )
      block more_links
    body
      block body_content
